{% extends 'base.html' %}

{% block htmltitle %}{{ job.title }} - {% endblock%}

{% block title %}
    <h3>{{ job.title }}
    {% if job.description %}
        <br/><small>{{ job.description }}</small>
    {% endif %}
    </h3>
{% endblock %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data" class='form-horizontal'>
        <fieldset>
        <legend>Upload the required files</legend>
        {% for expected in job.expected_files %}
            <div class="control-group">
                <label class="control-label"><strong>{{ expected }}</strong></label>
                <div class="controls">
                    <input type="file" name="file_{{ expected }}" />
                </div>
            </div>
        {% endfor %}

        <hr/>
        <div class="control-group">
            <label class="control-label"><strong>or a .zip|.tar.gz</strong></label>
            <div class="controls">
                <input type="file" name="compressed_file" />
                <span class="help-block">Upload a compressed file containing <strong>only</strong> the required files.</span>
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Start job</button>
        </div>
        </fieldset>
    </form>
{% endblock %}
