{% extends 'base.html' %}

{% block htmltitle %}{{ job.title }} - {% endblock%}

{% block title %}
    <h3>{{ job.title }}</h3>
    {% if job.description %}
        <p><small>{{ job.description }}</small></p>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data" class='form-horizontal'>
        <fieldset>
        <legend>Upload the required files</legend>

        <div class="control-group">
            <label class="control-label"><strong>
                {% if job.compressed_label %}{{ job.compressed_label}}{% else %}.zip | .tar.gz{% endif %}
            </strong></label>
            <div class="controls">
                <input type="file" name="compressed_file" />
                <span class="help-block">Upload a compressed file containing <strong>only</strong> the required files.</span>
                <span class="help-block">Required files: {{ job.expected_files|join(', ') }}.</span>
            </div>
        </div>

        {% if job.individual_upload %}
            <h6>... or upload each file individually</h6>
            {% for expected in job.expected_files %}
                <div class="control-group">
                    <label class="control-label"><strong>{{ expected }}</strong></label>
                    <div class="controls">
                        <input type="file" name="file_{{ expected }}" />
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Upload and start job</button>
        </div>
        </fieldset>
    </form>
{% endblock %}
