{% extends 'base.html' %}

{% block htmltitle %}{{ instance.job.title }} - {% endblock%}

{% block title %}
    <h3>
        {% if return_code == 0 %}
            <img style="height:50px" src="{{ url_for('static', filename='img/green-light.png') }}" />
        {% elif return_code > 0 %}
            <img style="height:50px" src="{{ url_for('static', filename='img/red-light.png') }}" />
        {% endif %}
        {{ instance.job.title }} <small>{{ instance.id }}</small>
    </h3>
{% endblock %}


{% block content %}

<p>
    <span class="label label-info">Download output file</span>
    <a href="{{ url_for('output_file', slug=instance.job.slug, instance_id=instance.id, filename='output.log') }}">
        job output
    </a>

    {% for filename in instance.job.output_files %}
        | <a href="{{ url_for('output_file', slug=instance.job.slug, instance_id=instance.id, filename=filename) }}">
            {{ filename }}
        </a>
    {% endfor %}
</p>


<pre>
{{ instance.output }}
</pre>

{% endblock %}